body
{
    background-image: url("../images/resize.jpg");
    color: white
}

img
{
    width: 80%;
}

.contenaire1
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #343434;
    margin-top: 5%;
    box-sizing: content-box;
    height: fit-content;
    width: fit-content;
    border: solid black 3px
}


.logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.description
{
    display: flex;
    flex-direction: column;
}

.part1
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.part1_1
{
    margin-left: 1%;
}

.part2
{
    margin-top: 3%;
    display: flex;
    flex-flow: column;
}

.part2_1
{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.part2_2
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    min-width: 100px;
}

.contenaire2
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #343434 ;
    border: solid black 3px
}

.part3
{
    display: flex;
    margin-bottom: 2%;
}

.footer
{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

a:link {
    color: red;
}
  
a:visited {
    color: green;
}
  
a:hover {
    color: hotpink;
}
  
a:active {
    color: blue;
} 

@media (max-width:800px)
{
    .part1
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
    .part2_2
    {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        min-width: 100px;
    }
}

  