:root{
    --hauteur-menu: 60px;
    }
    * {
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans Extrabold", sans-serif;    }
    

    nav > ul {
      display: flex;
      height: var(--hauteur-menu);
      list-style-type:none;

    }

    
    nav > ul > li {
      display: flex;
      background-color:  #91b1d6 ;
      position: relative;
      height: 170%;
      flex: 1;
      justify-content: center;
      align-items: center;
      border:solid black 3px;
      border-right:none;
      border-left:none ;

      }
  

    
    li a {
      text-decoration:none;
      color: black;
    }

    #accueil {
      width: 13em;
    }
    nav{
      margin-bottom: 3em;
    }


    img {
        max-width: 100%;
    }

      /* ZOOM IMAGE NAVBAR */
  .image img {
    width: 6em;
  
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  }
  .image:hover img {
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  }

/*debut css emeraude*/
body {
    background-size: cover;
    background-position: center;
    background-image: url("../images/resize.jpg");
}

.contenaire1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    box-sizing: content-box;
    width: 60%;
    background-color: #343434;
    padding: 1em;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 3em;
    border: solid black 3px
}

.logo
{
  display:flex;
  flex-direction: row;
}

.part2
{
  display: flex;
  flex-direction: column-reverse;
}


.contenaire2
{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: white;
  box-sizing: content-box;
  width: 60%;
  background-color: #343434;
  padding: 1em;
  margin-top: 2%;
  margin-left: 20%;
  margin-bottom: 3em;
  border: solid black 3px
}

.footer
{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: white;
  box-sizing: content-box;
  width: 60%;
  padding: 1em;
  margin-top: 2%;
  margin-left: 20%;
  margin-bottom: 3em;
}

 a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
} 

.text-center {
    text-align: center;
}
.table-container {
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
}
.text-left {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}
.row2{
   font-size: 14px;
}
.margin_top{
    margin-top:1em;
}
.item-center{
  display: flex;
  justify-content: center;
}
table,
td {
    border: 1px solid rgb(255, 255, 255);
}

.boxbase > p {
  margin-bottom: 1em;
}

@media (max-width:1250px) 
{
  .logo
{
  display:flex;
  flex-direction: column;
}
}