body
{
    background-image: url("../images/honorball.jpg");
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-repeat : no-repeat;
}


.contenaire1
{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: black;
  box-sizing: content-box;
  width: 60%;
  background-color: #c8c8c8;
  padding: 2em;
  margin-top: 2%;
  margin-left: 20%;
  margin-bottom: 3em;
  border: solid rgb(9, 126, 223) 5px;
  border-radius: 100px;
}




.logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em;
}

.separ{
    margin: 2%;
}


@media (max-width:800px)
{
    .part1
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }    
    .part2_2
    {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        min-width: 100px;
    }
}

/* FOOTER */
footer { 


    width:100%;
    height:0;
    bottom: 0;
  }
    
  .footer-basic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding:8px ;
    background-color:#c8c8c8;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 50%;
    color:black;
    border:solid rgb(9, 126, 223) 3px;
  }
    
  .footer-basic ul {
    display:flex;
    justify-content: center;
    list-style:none;
    text-align:center;
    font-size:20px;
  }
  
  .footer-basic li {
    padding: 10px;
  }
    
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
    
  .footer-basic ul a:hover {
    opacity:1;
  }
    
  
  
    
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
  }
  /* FIN FOOTER */

  #pokeinfo{
    text-decoration: rgb(255, 255, 255) underline;
  }
  
  .lien_fin {
    color: rgb(255, 255, 187);
    text-decoration: overline;
    display: flex;
    justify-content: center ;
  }