.boxstarter{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: white;
    box-sizing: content-box;
    width: 60%;
    background-color: rgb(61, 61, 61);
    padding: 5px;
    margin-left: 20%;
    margin-bottom: 3em;
}
.separ{
    margin-left: 3em;
    margin-right: 3em;
}
.text-center {
    text-align: center;
}
.table-container {
    overflow-x: auto;
}
table.bipcode {
    border: 1px solid #ffffff;
    border-spacing: 0;
    margin: auto;
}
.text-left{
    display: flex;
    flex-direction: column;
    
}

