h1 {
    display: flex;
    justify-content: center;
    color: black;
    padding: 1em;
}

.photo_intro {
    display: flex;
    justify-content: left;
    max-width: 100%;
    max-height: 15em;
    opacity: 90%;
    
}

.intro {
    column-count: 2;
}

.categorie {
    margin-top: 3em;
    padding-bottom: 1em;
    border: 2px solid black;
    background-color: rgb(61, 61, 61);
    opacity: 90%;
    color: white;
    margin-bottom: 3em;
}

.persos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    height:250px;
}

.persos .louka{
    width: 15%;
    padding-right: 5%;
}

.persos .aurore{
    width: 15%;
    padding-right: 5%;
}

.persos .sorbier{
    width: 15%;
    padding-right: 5%;
}

.persos .galaxie{
    width: 15%;
    padding-right: 5%;
}

.persos .rene{
    width: 15%;
    padding-right: 5%;
}

body {
    color: black;
    background-image: url("../images/lac-verite.png");
}

#navbar {
    padding-bottom: 5%;
}

a {
    color: green;
}

.lien_fin {
    color: rgb(255, 255, 187);
    text-decoration: overline;
    display: flex;
    justify-content: right;
}

@media (max-width:800px)
{
    .persos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        height: 200px;
    }

    .intro {
        column-count: 1;
    }

}